html {
    background-color: lightgrey;
    height: 100%;
    width: 100%; 
}

section {
    padding: 2em;
    padding-top: 7em;
    background-color: lightgrey;
}

p {
    color: black;
    font-size: .75em;
}

nav {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 80px;
    align-items: center;
    display: flex;
    background-color: rgb(44, 108, 138);
    box-shadow: 0 0 25px 0 black;
}

a {
    color: black;
}

a:hover {
    color: forestgreen;
    text-decoration: none;
}

li {
    color: black;
}

ul#menu li:hover {
    color: forestgreen;
    border-bottom: .2rem solid  forestgreen;
    
}

@media (min-width:768px) {
    ul#menu li{
        display: inline;
        
    }

    #smallmenu{
        display: none;
        color: forestgreen;
    }

    p{
        font-size: 1em;
    }

    footer {
        display: block;
        background-color: lightgrey;
        padding: 2em;
        
    }

}

