html {
    background-color: whitesmoke;
    height: 100%;
    width: 100%; 
}

section {
    padding: 2em;
    padding-top: 7em;
    background-color: whitesmoke;
}

footer {
    display: none;
}

p {
    color: black;
    font-size: .75em;
}

nav {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%; 
    padding: .75rem;
    background-color:#279224;
}

a {
    color: black;
}

a:hover {
    color: gold;
    text-decoration: none;
}

li {
    color: black;
    margin-right: 1rem;
    padding-top: -2rem;
}

ul#menu li{
    display: none;
}

ul#menu li:hover {
    color: gold;
    border-bottom: .2rem solid  gold;
    
}

ul {
    margin: 0;
    padding: 0;
    display: inline-block;
}

@media (min-width:768px) {
    ul#menu li{
        display: inline;
        
    }

    #smallmenu{
        display: none;
        color: goldenrod;
    }

    p{
        font-size: 1em;
    }

    footer {
        display: block;
        background-color: whitesmoke;
        padding: 2em;
        
    }

}

